:root {
    --logo: #000000;
    --main-text-color: #212121;
    --p-color: #757575;
    --white-color: #ffffff;
    --footer-color-mail: rgba(255, 255, 255, 0.6);
    --background-color1: #ffffff;
    --background-color2: #2f303a;
    --bacground-color3: #e5e5e5;
    --backroung-color4: #f5f4fa;
    --selection: #2196f3;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
}

/* index.html */

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--selection);
    text-decoration: none;
}
.studio-white {
    color: var(--white-color);
}
.studio-black {
    color: var(--logo);
}
.navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--header-color);
    background-color: var(--background-color1);
}
.navigation-link {
    color: inherit;
    text-decoration: none;
}
.navigation-link:hover,
.navigation-link:focus {
    color: var(--selection);
    cursor: pointer;
}
.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--p-color);
    text-decoration: none;
}
.contact:hover,
.contact:focus {
    color: var(--selection);
    cursor: pointer;
}
.main {
    background-color: var(--background-color2);
    color: var(--white-color);
}
.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.main-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0;
    border: none;
    border-radius: 4px;
    color: inherit;
    background-color: var(--selection);
}
.main-two-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.main-two-paragraph {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--p-color);
}
.main-three-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
.main-four {
    background-color: var(--backroung-color4);
}
.main-four-backgroung {
    background-color: var(--background-color1);
}
.main-four-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
.main-four-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}
.main-four-job {
    font-size: 16px;
    line-height: 1.2;
    color: var(--p-color);
}
.footer {
    background-color: var(--background-color2);
}
.footer-adress {
    font-style: normal;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
.footer-contact {
    font-style: normal;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--footer-color-mail);
}
.footer-contact:hover,
.footer-contact:focus {
    color: var(--selection);
}
/* portfolio.html */

.main-portfolio {
    background-color: var(--background-color1);
}
.portfolio-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--backroung-color4);
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.portfolio-button:focus,
.portfolio-button:hover {
    color: var(--white-color);
    background-color: var(--selection);
}
.portfolio-images-titles {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-images-decription {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
