:root {
    --logo: #000000;
    --main-text-color: #212121;
    --p-color: #757575;
    --white-color: #ffffff;
    --footer-color-mail: rgba(255, 255, 255, 0.6);
    --background-color1: #ffffff;
    --background-color2: #2f303a;
    --bacground-color3: #e5e5e5;
    --backroung-color4: #f5f4fa;
    --selection: #2196f3;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
}
section {
    padding-top: 94px;
    padding-bottom: 94px;
}
li {
    list-style: none;
}
.conteiner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */

.header {
    padding: 24px 0 25px;
    border-bottom: 1px solid #ececec;
}
.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--selection);
    text-decoration: none;
}
.studio-white {
    color: var(--white-color);
}
.studio-black {
    color: var(--logo);
}
.navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--header-color);
    background-color: var(--background-color1);
    margin-right: 345px;
    margin-left: 93px;
}
.container-navigation {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.navigation-link {
    color: inherit;
    text-decoration: none;
}
.navigation-link:hover,
.navigation-link:focus {
    color: var(--selection);
    cursor: pointer;
}
.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--p-color);
    text-decoration: none;
}
.contact:hover,
.contact:focus {
    color: var(--selection);
    cursor: pointer;
}
.contact-icon {
    fill: var(--p-color);
    margin-right: 10px;
}
.contact-icon:hover,
.contact:focus {
    fill: var(--selection);
    cursor: pointer;
}
.contact-margin {
    margin-right: 50px;
}

/* index.html */

.main {
    background-color: var(--background-color2);
    color: var(--white-color);
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/backgr/background.jpg);
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position: center;
}
.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.main-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: inherit;
    background-color: var(--selection);
    padding: 10px 41px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.main-two {
    padding-bottom: 0;
}
.main-two li {
    padding-right: 30px;
}
.main-two li:last-child {
    padding-right: 0;
}
.main-two-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.main-two-paragraph {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--p-color);
    width: 270px;
}
.conteiner-main-two {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main-two-icons {
    background-color: var(--backroung-color4);
    padding: 25px 100px;
    border-radius: 4px;
    margin-bottom: 30px;
}
.main-three-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 auto 50px auto;
}
.conteiner-main-three {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.main-four-conteiner {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.main-four li {
    max-width: 270px;
}
.main-four {
    background-color: var(--backroung-color4);
}
.main-four-backgroung {
    background-color: var(--background-color1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.main-four-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.main-four-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
.main-four-job {
    font-size: 16px;
    line-height: 1.2;
    color: var(--p-color);
    text-align: center;
}
.main-four-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 16px;
}
.main-four-icons-a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 12px;
    line-height: 0;
    fill: #afb1b8;
}
.main-four-icons-a:hover,
.main-four-icons-a:focus {
    background-color: var(--selection);
    border-radius: 50%;
    fill: var(--background-color1);
    cursor: pointer;
}

.main-five-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.main-five-conteiner {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.main-five-icons {
    width: 170px;
    height: 92px;
    border: solid 1px #afb1b8;
    border-radius: 4px;
    padding: 16px 32px;
    fill: #afb1b8;
}
.main-five-icons:hover {
    fill: var(--selection);
    border: solid 1px var(--selection);
    cursor: pointer;
}
/* footer */

.footer {
    background-color: var(--background-color2);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-adress {
    font-style: normal;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
.footer-contact {
    font-style: normal;
    font-size: 14px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--footer-color-mail);
    padding-top: 9px;
}
.footer-contact:hover,
.footer-contact:focus {
    color: var(--selection);
}
.footer-conteiner {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.footer-join-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}
.footer-join {
    margin-top: 12px;
    margin-left: 70px;
    display: block;
}
.footer-join-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.footer-join-icons li {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    padding: 12px;
    fill: var(--white-color);
    line-height: 0;
}
.footer-join-icons li:hover {
    background-color: var(--selection);
    cursor: pointer;
}
.conteiner-footer {
    display: flex;
    flex-direction: row;
}

/* portfolio.html */

.main-portfolio {
    background-color: var(--background-color1);
}
.portfolio-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--backroung-color4);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
}
.portfolio-button:focus,
.portfolio-button:hover {
    color: var(--white-color);
    background-color: var(--selection);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.conteiner-buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
}
.conteiner-buttons-padding {
    padding-bottom: 0px;
}
.portfolio-images-titles {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding: 20px 24px 9px;
}
.portfolio-images-decription {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    padding-left: 24px;
    padding-bottom: 20px;
}
.container-portfolio-images {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.container-portfolio-images li {
    flex-basis: calc((100%-30px) / 3);
}
.container-portfolio-images li figcaption {
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}
.conteiner-portfolio-padding {
    padding-top: 50px;
}
.container-portfolio-images li:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
