@import './utils/vars';
@import './utils/globals';

@import './components/header';
@import './components/hero';
@import './components/articles';
@import './components/services';
@import './components/team';
@import './components/clients';
@import './components/footer';
@import './components/modal';
@import './components/portfolioButtons';
@import './components/portfolioProjects';
