.footer {
    background-color: $background-color2;
    padding-top: 60px;
    padding-bottom: 60px;
    @include desktop {
        padding-bottom: 0;
    }
    // text-align: center;
    // display: flex;
    // flex-direction: column;
    // &__wrapper {
    //     @include tablet {
    //         display: flex;
    //         flex-direction: row;
    //         flex-wrap: wrap;
    //     }
    //     @include desktop {
    //         text-align: left;
    //     }
    // }
    // &__wrapper-tablet {
    //     @include tablet {
    //         margin-left: 61px;
    //     }
    //     @include desktop {
    //         margin-left: 0;
    //     }
    // }
    &__wrapper {
        @include desktop {
            display: flex;
            flex-direction: row;
            align-items: normal;
        }
    }

    &__adress-and-socials {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        margin-bottom: 60px;
        @include tablet {
            flex-direction: row;
            align-items: normal;
            justify-content: center;
            gap: 144px;
        }
        @include desktop {
            gap: 70px;
            align-items: normal;
            justify-content: left;
            text-align: left;
        }
    }
    // &__newsletter {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    // }
    &__logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: $selection;
        text-decoration: none;
        &--white {
            color: $white-color;
        }
    }
    &__adress {
        font-style: normal;
        font-size: 14px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        color: $white-color;
        // &-list {
        //     // padding-bottom: 60px;
        //     // @include desktop {
        //     //     padding-bottom: 0;
        //     // }
        // }
    }
    &__mail-tel {
        font-style: normal;
        font-size: 14px;
        line-height: 1.63;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: $footer-color-mail;
        padding-top: 9px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: $selection;
        }
    }
    &__adress-list {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
}
.join {
    display: block;
    text-align: center;
    // margin-bottom: 60px;

    // @include tablet {
    //     margin-left: 144px;
    // }
    // @include desktop {
    //     margin-top: 12px;
    //     margin-left: 70px;
    //     margin-bottom: 0;
    //     text-align: left;
    // }
    @include desktop {
        text-align: left;
        margin-top: 12px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white-color;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;
        align-items: center;
    }
    &__item {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        padding: 12px;
        fill: $white-color;
        line-height: 0;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: $selection;
            fill: $white-color;
            cursor: pointer;
        }
        //     &:first-child {
        //         margin-left: auto;
        //     }
        //     &:last-child {
        //         margin-right: auto;
        //     }
        // }
    }
}
.newsletter {
    text-align: center;
    margin-top: 12px;
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    @include desktop {
        display: block;
        text-align: left;
        margin-top: 12px;
        margin-left: 74px;
    }
    &__signin {
        @include desktop {
            display: flex;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white-color;
        margin-bottom: 20px;
    }
    &__input {
        padding: 15px 16px;
        margin-right: 12px;
        width: 100%;
        max-width: 450px;
        height: 50px;
        background-color: $background-color2;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: $white-color;
        margin-bottom: 20px;
        @include desktop {
            margin-bottom: 0;
            max-width: 358px;
        }
        &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            color: rgba(255, 255, 255, 0.6);
        }
    }
    &__button {
        background-color: $selection;
        width: 200px;
        height: 50px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        @include desktop {
            width: 328px;
        }
        &-text {
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0.06em;
            color: $white-color;
        }
        &-icon {
            width: 24px;
            height: 24px;
            margin-left: 24px;
        }
    }
}
