.header {
    padding: 24px 0 25px;
    border-bottom: 1px solid #ececec;
    @include tablet {
        padding: 21px 0;
    }
    @include desktop {
        padding: 24px 0 25px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: $selection;
        text-decoration: none;

        &--white {
            color: $white-color;
        }

        &--black {
            color: $logo;
        }
    }

    &__navigation {
        display: none;
        @include tablet {
            display: inline;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: $main-text-color;
            background-color: $background-color1;
            margin-right: auto;
            margin-left: 83px;
            @include desktop {
                margin-left: 93px;
            }
        }
    }
    &__navigation-list {
        display: flex;
        flex-direction: row;
        gap: 46px;
    }
    &__navigation-link {
        color: inherit;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: $selection;
            cursor: pointer;
        }
        &--active {
            color: $selection;
        }
    }
    &__navigation-item {
        position: relative;
        &--current::after {
            display: inline-block;
            content: '';
            position: absolute;
            top: 46px;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background-color: $selection;
            border-radius: 2px;
            margin: 0 auto;
        }
    }
}
.contact {
    display: none;
    @include tablet {
        display: flex;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: $p-color;
        text-decoration: none;
        fill: $p-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        gap: 8px;
        @include desktop {
            display: inline;
            font-size: 14px;
        }
    }
    &:hover,
    &:focus {
        color: $selection;
        cursor: pointer;
        fill: $selection;
    }
    &__icon {
        @include desktop {
            margin-right: 10px;
        }
    }
    &--margin {
        @include tablet {
            margin-bottom: 10px;
        }
        @include desktop {
            margin-right: 30px;
        }
    }
}
