.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    &__button {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus,
        &:hover {
            fill: $selection;
        }
    }
}
@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: $white-color;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
}
.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    &__link {
        display: block;
        padding-bottom: 36px;
        color: $main-text-color;
        text-decoration: none;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: $selection;
        }
    }
}

.mobile-contact {
    margin-bottom: 64px;
    &__item {
        margin-bottom: 32px;
    }
    &__tel {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $selection;
        text-decoration: none;
    }
    &__mail {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: $p-color;
        text-decoration: none;
    }
}
.mobile-socials {
    display: flex;
    &__link {
        text-decoration: none;
        color: $selection;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
    }
    &__item:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
        margin-right: 10px;
    }
}
