* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    color: $main-text-color;
}
section {
    padding-top: 60px;
    padding-bottom: 60px;
    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
li {
    list-style: none;
}
svg {
    vertical-align: middle;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.container {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @include tablet {
        max-width: 768px;
    }
    @include desktop {
        max-width: 1200px;
    }
}
