$logo: #000000;
$main-text-color: #212121;
$p-color: #757575;
$white-color: #ffffff;
$footer-color-mail: rgba(255, 255, 255, 0.6);
$background-color1: #ffffff;
$background-color2: #2f303a;
$bacground-color3: #e5e5e5;
$backroung-color4: #f5f4fa;
$selection: #2196f3;
